# Environment files
.env*
.env/**
!/.env.example

# AWS credentials and config
.aws/
.credentials/

# Maven & build artifacts
target/
*.log
!.mvn/wrapper/maven-wrapper.jar

# Node modules (if frontend included)
node_modules/

# IDE specific
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Spring Tools Suite
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# OS specific
.DS_Store
Thumbs.db
