<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/output.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="/js/loader.js"></script>
    <script src="/js/loader-trigger.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        window.loader = new ShelvedLoader();
        loader.start();
      });
    </script>
    <script th:src="@{/js/fadeAnimations.js}" defer></script>
  </head>
  <body class="bg-blue-700">
    <main class="top-0 bottom-0 bg-blue-500">
      <!-- ERROR AND SUCCESS HANDLING -->
      <div class="hidden errorSuccessHandlingBox">
        <div
          id="successMessageDiv"
          class="success"
          th:if="${message}"
          th:text="${message}"
        ></div>
        <div
          id="errorMessageDiv"
          class="failure"
          th:if="${error}"
          th:text="${error}"
        ></div>
      </div>

      <div class="flex flex-col items-center justify-center h-screen mb-4">
        <div
          class="flex flex-col items-center justify-center px-6 py-4 rounded-lg"
        >
          <div class="mt-2 mb-4">
            <img
              class="h-8 sway"
              src="/images/Shelved_Logo_White.png"
              alt="Shelved Logo"
            />
          </div>

          <form th:action="@{/login}" method="post">
            <div class="mt-2 mb-2">
              <input type="hidden" name="_csrf" value="${_csrf.token}" />

              <label class="text-blue-300 label" for="Username">
                Username:
              </label>
              <input
                label="Username"
                type="text"
                id="username"
                name="username"
                placeholder="Username"
                required
              />
            </div>

            <div class="mb-2">
              <label class="text-blue-300 label" for="password">
                Password:
              </label>
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Password"
                required
              />
            </div>

            <!-- Submit Button -->
            <div class="flex items-center justify-center w-full p-1 mt-4">
              <button
                class="button bg-slate-800 hover:bg-slate-950"
                type="submit"
              >
                Login
              </button>
            </div>
          </form>
          <div class="p-1">
            <a
              class="bg-blue-800 small-button hover:bg-blue-950"
              href="/signup"
            >
              Sign Up
            </a>
          </div>
        </div>
      </div>
    </main>
    <script>
      // Stop the loader when the DOM is fully loaded
      document.addEventListener('DOMContentLoaded', function () {
        loader.stop();
      });
    </script>
  </body>
</html>
