<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Splash</title>
    <link rel="stylesheet" href="/css/output.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="/js/loader.js"></script>
    <script src="/js/loader-trigger.js"></script>
    <script src="/js/routeAfter.js"></script>
    <script th:src="@{/js/fadeAnimations.js}" defer></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        window.loader = new ShelvedLoader();
        // Do NOT call loader.start() here
      });
    </script>

  </head>
  <body class="bg-blue-700">
    <main class="top-0 bottom-0 bg-blue-500">
      <!-- ERROR AND SUCCESS HANDLING -->
      <div class="hidden errorSuccessHandlingBox">
        <div
          id="successMessageDiv"
          class="success"
          th:if="${message}"
          th:text="${message}"
        ></div>
        <div
          id="errorMessageDiv"
          class="failure"
          th:if="${error}"
          th:text="${error}"
        ></div>
      </div>

      <div class="flex flex-col items-center justify-center h-screen mb-4">
        <div
          class="flex flex-col items-center justify-center px-6 py-4 rounded-lg"
        >
          <div class="mt-2 mb-4">
            <img
              class="h-20 sway"
              src="/images/Shelved_Logo_White.png"
              alt="Shelved Logo"
            />
          </div>

           <div class="flex flex-col items-center justify-center w-full p-1 mt-4">

              <label class="pb-2 text-white label">
                Enter Demo Mode!
              </label>
            <a
              href="#"
              class="px-4 py-2 text-center text-white rounded button bg-slate-800 hover:bg-slate-950"
              onclick="routeAfter(); return false;"
            >
              Enter
            </a>

        </div>
      </div>
    </main>
  </body>
</html>
