<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <link rel="stylesheet" th:href="@{/css/output.css}" />

    <script src="https://cdn.jsdelivr.net/npm/exif-js"></script>
    <script th:src="@{/js/accountDetails.js}" defer></script>
    <script th:src="@{/js/toggleProfilePhoto.js}" defer></script>
    <script th:src="@{/js/updateChanges.js}" defer></script>
    <script th:src="@{/js/previewFile.js}" defer></script>
    <script th:src="@{/js/fadeAnimations.js}" defer></script>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <div>
              <a id="backButton" th:href="${user != null} ? '/profile/' + ${user.id} : '/profile'">
                <span>&#8592;</span>
              </a>
            </div>
          </li>
          <li>
            <div>
              <h2>Update Profile</h2>
            </div>
          </li>
          <li>
          </li>
        </ul>
      </nav>
    </header>
    <main class="bottom-0 overflow-auto">

      
      <!-- ERROR AND SUCCESS HANDLING -->
      <div class="hidden errorSuccessHandlingBox">
        <div
          id="successMessageDiv"
          class="success"
          th:if="${message}"
          th:text="${message}">
        </div>
        <div
          id="errorMessageDiv"
          class="failure"
          th:if="${error}"
          th:text="${error}">
        </div>
      </div>


      <div class="container">
        <div class="box">
          <div class="flex-col items-center justify-center w-full px-4">
            <form
              id="updateProfileForm"
              th:action="@{/update_profile}"
              method="post"
              enctype="multipart/form-data"
            >
              <div class="flex flex-col items-center justify-center p-2 mt-8">
                <!-- PROFILE PICTURE -->
                <a>
                  <img
                    class="w-32 h-32 bg-white rounded-full"
                    id="previewImage"
                    th:src="${user != null and user.profilePictureUrl != null and user.profilePictureUrl != ''} ? ${user.profilePictureUrl} : '/images/default-profile-photo.png'"
                    alt="Profile Picture"
                  />
                </a>

                <!-- UPDATE PROFILE PICTURE BUTTON -->
                <a href="#" id="triggerUpload" class="pb-4 mt-2">
                  <span class="mb-1 text-sm font-semibold text-blue-500">
                    Update Profile Picture
                  </span>
                </a>


              </div>

              <!-- Update Profile Picture -->
              <div class="labelInputBox">
                <input
                  class="rounded-none"
                  type="file"
                  id="hiddenFileInput"
                  name="profilePicture"
                  style="display: none"
                  accept="image/*"
                />
              </div>

              <div class="w-full">
                <!-- Location -->
                <div class="mt-2 mb-2">
                  <label class="label text-slate-800" for="Location">Location</label>
                  <input
                    id="locationInput"
                    class="col-span-4 p-2 text-sm rounded-none border-y border-slate-200"
                    name="location"
                    th:value="${user != null and user.location != null} ? ${user.location} : ''"
                    placeholder="Location"
                    type="text"
                  />
                </div>

                <!-- Website -->
                <div class="mt-2 mb-2">
                  <label class="label text-slate-800" for="Website">Website</label>
                  <input
                  id="websiteInput"
                  class="col-span-4 p-2 text-sm rounded-none border-y border-slate-200"
                  name="website"
                  th:value="${user != null and user.website != null} ? ${user.website} : ''"
                  placeholder="Website"
                  type="text"
                />
              </div>

              <!-- Biography -->
              <div class="mt-2 mb-2">
                <label class="label text-slate-800" for="Biography">Biography</label>
                <textarea
                  id="biographyInput"
                  class="col-span-4 p-2 text-sm border-y border-slate-200"
                  name="biography"
                  th:text="${user != null and user.biography != null} ? ${user.biography} : ''"
                  placeholder="Biography"
                  maxlength="250"
                ></textarea>
              </div>

              <!-- Functional Submit Button -->
              <!-- <button
                class="mx-auto bg-blue-600 button hover:bg-blue-800"
                type="submit">
                  Save Changes
              </button> -->

              <!--Demo Response Submit Button -->
              <div class="flex flex-row items-center justify-center mt-4">
                <div class="flex flex-col items-center space-y-3">
                  <!-- Create Button -->
                  <button
                    type="button"
                    class="bg-blue-600 button hover:bg-blue-800"
                    onclick="document.getElementById('demoNotice').classList.remove('hidden')"
                  >
                    Save Changes
                  </button>

                  <!-- Subtle Info Message -->
                  <div
                    id="demoNotice"
                    class="flex items-center hidden w-auto max-w-xs gap-2 px-4 py-2 mt-4 text-sm font-medium bg-yellow-100 border-l-8 border-yellow-500 rounded-lg shadow text-slate-800 min-w-[220px]"
                    role="status"
                  >
                    <span>
                      <span class="text-xl font-semibold text-yellow-600">
                        Demo mode:
                      </span>
                      <br />
                      Some actions are disabled.
                      <br />
                      <span class="py-2 text-xs">
                        This is a demo version of Shelved, you can browse and
                        interact with posts and users, but some features are
                        limited.
                      </span>
                    </span>
                    <button
                      type="button"
                      onclick="this.parentElement.classList.add('hidden')"
                      class="ml-2 text-lg text-yellow-500 hover:text-blue-700 focus:outline-none"
                      aria-label="Dismiss"
                      style="line-height: 1"
                    >
                      &times;
                    </button>
                  </div>
                </div>
              </div>
              <!--Demo Response Submit Button -->
              
            </form>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
